@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo {
  float: left;
  height: 12vh;
}

.active {
  color: #23C7C6;
}

header {
  height: 10vh;
  margin: 20px 20px 20px 20px;
}

.user {
  height: 100%;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;

}

.navbar {
  height: 100%;
  flex: 0.25;
  margin: 20px;
}

nav {
  width: 100%;
}


nav ul {
  list-style: none;
}

nav ul li {
  padding-bottom: 10px;
}

.circle {
  padding: 15px 10px 10px 10px;
  font-size: small;
  width: 60px;
  height: 60px;
  border: solid black;
  border-radius: 30px;
}

.content-wrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(243, 243, 243);
}

.title {
  flex: 0.05;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.title-text {
  flex: 0.5;
}

.title-text h2 {
  color: #23C7C6;
}

.title input {
  text-align: center;
  height: 70%;
  flex: 0.20;
}

.title button {
  flex: 0.20;
}

.detail {
  margin: 20px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.card-header {
  display: inline;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.person-pic {
  width: 100%;
  height: 45%;
  border: solid black;
  border-radius: 20px;
}